src/
**results/
**results_folding/
**results_grasp_point_detection/
**assets/
**egg-info/
**__pycache__/
**wandb**/
**dataset**
**artifacts**
.vscode/
keypoints/validation_data
*.code-workspace
**.pickle
